#title {
  height: 128px;
  width: 720px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#title a{
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

#title .text{
  margin-left: 24px;
  margin-right: 8px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  transition: all 0.3s ease;
}

#title .title{
  color: var(--primary3);
  font-size: xx-large;
  font-weight: 900;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

#title .subtitle{
  color: var(--neutral3);
  font-size: small;
  margin-left: 2px;
  margin-top: -8px;
  transition: all 0.3s ease;
}

#logo {
  height: 64px;
  width: 64px;

  background-image: url('../imgs/logo/bcs5.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#title a:hover .text{
  margin-left: 16px;
  margin-right: 0px;
  padding: 8px 16px;
  background-color: var(--primary4);
}

#title a:hover .title{
  color: var(--neutral1);
}

#title a:hover .subtitle{
  color: var(--primary2);
}