html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;

  background-color: #111;

  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

*{
  margin: 0;
  padding: 0;
}

p{
  font-family: sans-serif;
  font-size: small;
  color: #EEE;
}

a{
  color: #EEE;
}

strong{
  font-size: large;
}

h2{
  font-family: sans-serif;
  color: #EEE;
  margin: 16px;
}

.secondary *{
  color: #333;
}

#app{
  height: 100%;
  width: 100%;
  max-width: calc(1024px / 3 * 2);
  background-color: #111;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

/* ########################################################### PROJECTS */

.segment{
  height: auto;
  width: 100%;

  margin: 4px;

  border: 1px solid #333;
  border-radius: 8px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.segment.small{
  max-width: calc(50% - 10px);
}

.segment.less{
  border: 1px solid transparent;
}

.segment .title{
  height: auto;
  width: 100%;
  background-color: #EEE;
}

.segment .title p{
  color: #333;
  font-size: large;
  font-weight: bold;
}

.segment p{
  width: calc(100% - 16px);
  margin: 8px;
}

/* ########################################################### BUSINESS CARD */

#businesscard{
  max-width: calc(50% - 8px);
  padding: 0;

  border-radius: 8px;
  overflow: hidden;

  border: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#businesscard .pic{
  height: 333.333px;
  width: calc(100%);
  background-image: url("profile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

#businesscard .desc{
  height: calc(100% - 333.333px);
  width: calc(100% - 16px);
  padding: 0 8px;
  background-color: #EEE;
}

#businesscard .desc p{
  margin: 8px 0;
  color: #333;
}

#businesscard .bar{
  height: 32px;
  width: calc(100% - 16px);

  padding: 8px;
  background-color: #EEE;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#businesscard .bar .button{
  height: 32px;
  width: 32px;
  margin-right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;

  background-color: #CCC;
}

#businesscard .bar .button:hover{
  cursor: pointer;
  background-color: #AAA;
}

#businesscard .bar .button p{
  color: #333;

  height: 16px;
  width: 16px;
  line-height: 16px;
  font-size: 16px;
}